.jumbotron {
    background-image: url(../img/jumbotron.jpg);
    height: 300px;
    background-size: cover;
}


h4 {
    font-size: 15px;
    color: white;
}

.bg-container {
    background-image: url(../img/footer-bg.jpg);
}


ul {
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 10px;

    li {
        list-style: none;
        font-size: 10px;

        a {
            text-decoration: none;
            color: #7A7A78
        }
    }

}

.logo-container {
    flex-basis: 50%;
}

.logo {
    height: 400px;
}

.title-box {
    background-color: #0082f9;
    width: 300px;
    color: #ffffff;
    padding: 10px;
    transform: translateY(-80%);
}

.comics-gallery {
    background-color: #1c1c1c;
}

.cards {

    margin: 10px;
    text-align: left;
    flex-basis: calc(100% / 6 - 2rem);
    height: 180px;
    cursor: pointer;
    font-size: 10px;

    figure {
        height: 70%;
        overflow: hidden;


        img {
            width: 100%;
            background-size: contain;
        }


    }

}

.btn {
    margin: 0 auto;
}

.load-btn {
    padding: 6px 60px;
    border: none;
    margin: 0 auto;
}

#shop-section {
    background-color: $dc_blue;

    .shop-card {
        display: flex;
        padding: 40px 18px;
        height: 150px;
    }

}